<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EC site</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/login.css" />
    <link rel="stylesheet" href="/cart.css" />
    <link rel="stylesheet" href="/item.css" />
    <link rel="stylesheet" href="/profile.css" />
    <link rel="stylesheet" href="/ranking.css" />
  </head>
  <body>
    <% if (req.path === '/admin/login') { %> <%- include('admin_header') %> <% }
    else if (req.session.isAdmin) { %> <%- include('admin_header') %> <% } else
    { %> <%- include('header') %> <% } %> <%- body %> <%- include('footer') %>
  </body>
</html>
