<main>
  <div class="admin-dashboard">
    <h1>Admin Dashboard</h1>
    <div class="item-grid">
      <% items.forEach(item => { %>
      <div class="item">
        <img src="/images/sake/<%= item.image %>" alt="<%= item.name %>" />
        <h2><%= item.name %></h2>
        <p><%= parseInt(item.price) %> JPY</p>
        <form action="/admin/edit-item/<%= item.id %>" method="get">
          <button type="submit">edit</button>
        </form>
      </div>
      <% }); %>
    </div>
  </div>
</main>
