<main>
  <div class="admin-dashboard">
    <h1>Admin Dashboard</h1>
    <div class="product-grid">
      <% items.forEach(item => { %>
      <div class="product">
        <img src="/images/sake/<%= item.image %>" alt="<%= item.name %>" />
        <h2><%= item.name %></h2>
        <p><%= item.price %>JPY</p>
        <form action="/admin/edit-item/<%= item.id %>" method="get">
          <button type="submit">edit</button>
        </form>
      </div>
      <% }); %>
    </div>
    <div class="admin-actions">
      <a href="/admin/add-item">Add new item</a>
    </div>
  </div>
</main>
