<main>
  <div class="item-detail">
    <img src="/images/sake/<%= item.image %>" alt="<%= item.name %>" />
    <div class="item-info">
      <h2><%= item.name %></h2>
      <p>Price: <%= parseInt(item.price) %> JPY</p>
      <p>Description: <br /><%= item.description %></p>
      <% if (req.session.userId) { %>
      <form action="/cart" method="post">
        <input type="number" name="quantity" min="1" value="0" />
        <input type="hidden" name="itemId" value="<%= item.id %>" />
        <button type="submit">add to cart</button>
      </form>
      <% } else { %>
      <p><a href="/login">Please log in</a> to add to cart</p>
      <% } %>
    </div>
  </div>
</main>
