<main>
  <div class="order-container">
    <h1>Order</h1>
    <ul>
      <% order.forEach(item => { %>
      <li><%= item.name %> <%= item.price %> <%= item.quantity %></li>
      <% }) %>
    </ul>
    <p>
      Total: <%= order.reduce((acc, item) => acc + item.price * item.quantity,
      0) %> JPY
    </p>
    <p>Date: <%= order[0].ordered_date %></p>
  </div>
</main>
