<main>
  <div class="order-container">
    <h1>Order</h1>
    <ul>
      <% order.forEach(item => { %>
      <li>
        <%= item.name %> <%= parseInt(item.price) %>JPY : <%= item.quantity %>
      </li>
      <% }) %>
    </ul>
    <p>
      Total: <%= order.reduce((acc, item) => acc + parseInt(item.price) *
      item.quantity, 0) %> JPY
    </p>
    <p>Date: <%= order[0].ordered_date %></p>
  </div>
</main>
