<main>
  <div class="profile-container">
    <h1>Profile</h1>
    Username: <%= user.username %>
    <div class="orders-info">
      <h2>Orders</h2>
      <ul>
        <% orders.forEach(order => { %>
        <li>
          ID: <%= order.id %> Price: <%= order.order_price %> JPY Date: <%= new
          Date(order.ordered_date).toLocaleString( { year: 'numeric', month:
          '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12:
          false }) %>
          <a href="/profile/order/<%= order.id %>">View</a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</main>
